<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/libs/semantic/semantic.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/libs/jquery-scrollbar/jquery.mCustomScrollbar.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Index</title>
</head>
<body>
    <div class="ui container" style="margin-top: 60px;">
        <div class="ui grid row">
            <div class="four wide column">
                <!-- 내 정보 -->
                <div id="myInfoCard" class="ui card">
                    <div class="content">
                        <img class="right floated ui avatar image" src="/images/avatar/default.png">
                        <div class="header">Name</div>
                        <div class="meta">Email</div>
                        <div class="description">상태메시지</div>
                    </div>
                    <div id="btnSettings" class="ui bottom attached button">
                        <i class="settings icon"></i> Settings
                    </div>
                </div>
                <!-- 채팅방 리스트 -->
                <div class="ui card">
                    <div class="content">
                        <div class="header">List</div>
                    </div>
                    <div class="content customScroll" style="height:460px;padding:0;">
                        <div id="roomList" class="ui divided selection list">
                            <!-- <div class="item">
                                <span class="ui right floated">18.04.08</span>
                                <div class="content" style="width:100%;">
                                    <img class="ui left floated avatar image" src="/images/avatar/default.png">
                                    <a class="header">Header (5)</a>
                                    <div class="description">
                                        <a class="ui right floated red circular small label">2</a>
                                        <span>Description</span>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui card" style="width:100%;">
                    <div class="content">
                        <div class="header">Main</div>
                    </div>
                    <!-- 채팅방 생성하기 -->
                    <div id="newChatContainer" class="content" style="height:600px;">
                        <div class="top" style="float:right;"></div>
                        <div class="floater" style="float:left;height:30%;"></div>
                        <div style="clear:both;text-align:center;">
                            <h2 class="ui center aligned icon header">
                                <i class="circular users icon"></i>
                                Start new chat
                            </h2>
                            <button id="btnAddUser" class="ui basic button">
                                <i class="icon user"></i> Select Friends
                            </button>
                        </div>
                    </div>
                    <!-- 채팅방 -->
                    <div id="messagesWrapper" class="content customScroll" style="display: none;">
                        <div id="messages" class="ui comments"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 유저 선택 창 -->
    <div id="userListModal" class="ui modal" style="width:400px;">
        <div class="content">
            <div class="ui search">
                <div class="ui icon input" style="width:100%;">
                    <input class="prompt" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="scrolling content" style="height:400px;padding-top:0;">
            <div id="userList" class="ui middle selection list">
                <div class="item">
                    <img class="ui avatar image" src="/images/avatar/default.png">
                    <div class="content">
                        <a class="header">Helen</a>
                        <div class="description">상태메시지</div>
                    </div>
                </div>                 
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="scrolling content" style="height:100px;padding-top:0;">
            <div id="selectedUserLabels" class="ui labels"></div>
        </div>
        <div class="actions">
            <div class="ui black cancel button">Close</div>
            <div class="ui primary approve right labeled icon button">
                OK
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <script src="/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="/libs/semantic/semantic.min.js"></script>
    <script src="/libs/moment/moment.js"></script>
    <script src="/libs/jquery-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/restApi.js"></script>
    <script>
        var selectedUsers = [];
        var $roomList = $("#roomList");
        var $userListModal = $("#userListModal");
        var $userList = $("#userList");
        var $selectedUserLabels = $("#selectedUserLabels");
        var $messagesWrapper = $("#messagesWrapper");
        var myInfo = {};

        function getMyInfo() {
            var $myInfoCard = $("#myInfoCard");
            var html = '';
            
            apiUsers.info("loginUser", function(data) {
                //console.log(data);
                if(data) {
                    myInfo._id = data._id;
                    myInfo.name = data.NAME;

                    html += '<div class="content">';
                    html +=     '<img class="right floated ui avatar image" src="/images/avatar/default.png">';                       
                    html +=     '<div class="header">'+data['NAME']+'</div>';
                    html +=     '<div class="meta">'+data['EMAIL']+'</div>';
                    html +=     '<div class="description">상태메시지</div>';
                    html += '</div>';
                    html += '<div id="btnSettings" class="ui bottom attached button">';
                    html +=     '<i class="settings icon"></i> Settings';
                    html += '</div>';

                    $myInfoCard.empty();
                    $myInfoCard.append(html);
                }
            });
        }

        function openUserListModal() {
            var html = '';
            
            apiUsers.list(function(data) {
                $.each(data, function(i, item) {
                    if(myInfo._id != item._id) {
                        html += '<div class="item" data-uid="'+item['_id']+'" onclick="addSelectedUser(this);">';
                        html +=     '<img class="ui avatar image" src="/images/avatar/default.png">';                       
                        html +=     '<div class="content">';
                        html +=         '<a class="header name">'+item['NAME']+'</a>';
                        html +=         '<div class="description">상태메시지</div>';
                        html +=     '</div>';
                        html += '</div>';
                    }
                });

                $userList.empty();
                $userList.append(html);
                $userListModal.modal('show');
            });
        }

        function addSelectedUser(obj) {
            var uid = $(obj).data('uid');
            var name = $(obj).find('.name').text();
            var avatar = $(obj).find('.avatar').attr('src');
            
            if(selectedUsers.indexOf(uid) < 0) {
                var html = '';
                html += '<div class="ui image label" style="margin:3px;">';
                html +=     '<img src="'+avatar+'">'+name+' <i class="icon close"></i>';                       
                html += '</div>';

                var $new = $(html);
                //$(obj).hide('normal');
                //$(obj).hide('normal').remove();
                $new.hide().appendTo($selectedUserLabels).fadeIn('fast');
                selectedUsers.push(uid);
                //console.log("added:", selectedUsers); 

                // Delete Event
                $new.find(".icon.close").on("click", function() {
                    //$(obj).show('normal');
                    //$(obj).appendTo($userList).show('normal');
                    $new.hide('normal').remove();
                    selectedUsers = selectedUsers.filter(function(item) { 
                        return item !== uid;
                    });
                    //console.log("deleted:", selectedUsers);
                });
            }
        }

        function inviteUsers() {
            var params = {};

            if(selectedUsers.length > 0) {
                params.selectedUsers = selectedUsers;

                apiRooms.save(params, function(data) {
                    if(data.result == 'success') {
                        //location.href = "/?roomId="+data.roomId;
                        getRoomList(roomId);
                    }
                });
            }
        }

        function getRoomList(roomId) {
            apiRooms.list(function(data) {
                console.log("getRoomList", data);
                var html = '';
                $.each(data, function(i, room) {
                    var roomMembers = room['MEMBERS'];
                    var roomName = '';
                    var roomDate = room['ROOM_UDT_DT'];
                    var roomDate = myFunc.isToday(roomDate) ? myFunc.getFormatDate(roomDate, 'HH:mm') : myFunc.getFormatDate(roomDate, 'YY.MM.DD');

                    $.each(roomMembers, function(j, member) {
                        if(myInfo._id = member['_id']) {
                            roomName = member['ROOM_NAME'];
                        }
                    });

                    html += '<div class="item" data-room-id="'+room['ROOM_ID']+'" onclick="openRoom(this);">';
                    html +=     '<span class="ui right floated">'+roomDate+'</span>';
                    html +=     '<div class="content" style="width:100%;">';
                    html +=     '<img class="ui left floated avatar image" src="/images/avatar/default.png">';          
                    html +=         '<a class="header">'+roomName+' ('+roomMembers.length+')</a>';
                    html +=         '<div class="description">';
                    html +=             '<a class="ui right floated red circular small label">'+room['UNREAD_MSG_CNT']+'</a>';
                    html +=             '<span>'+room['LAST_MESSAGE']+'</span>';
                    html +=         '</div>';
                    html +=     '</div>';
                    html += '</div>';
                });

                $roomList.empty();
                $roomList.append(html);

                if(roomId) {
                    $("div[data-room-id="+roomId+"]").trigger("click");
                }
            });
        }

        function openRoom(obj) {
            var $item = $(obj);
            console.log("openRoom", $item.data("roomId"));
        }

        function createMessage(data) {
            var info = '';
            info += '<div class="ui mini message chatInfo">님이 초대하셨습니다.</div>';

            for(var i=0; i<20; i++) {
                var html = '';
                var from = '';

                if(i%2 == 0) {
                    from = 'fromMe';
                } else {
                    from = 'fromOther';
                }
                
                html += '<div class="chatBox">';
                html += '<div class="comment chatInner">';
                //html +=     '<a class="avatar"><img src="/images/avatar/default.png"></a>';
                html +=     '<div class="content">';
                //html +=         '<a class="author">Matt</a>';
                html +=         '<div class="metadata"><span class="date">Today at 5:42PM</span></div>';
                html +=         '<div class="ui message chatMessage"></div>';
                //html +=         '<div class="actions"><a class="reply">Reply</a></div>';
                html +=     '</div>';
                html += '</div>';
                html += '</div>';
                
                var $chat = $(html);
                $chat.find(".chatInner").addClass(from);
                if(from == 'fromOther') {
                    $chat.find(".chatInner").prepend('<a class="avatar"><img src="/images/avatar/default.png"></a>');
                    $chat.find(".chatInner .content").prepend('<a class="author">Matt</a>');
                    $chat.find(".chatInner .chatMessage").addClass('blue');
                } else {
                    $chat.find(".chatInner .chatMessage").addClass('green');
                }

                $("#messages").prepend($chat);
            }

            $("#messages").prepend(info);
        }

        $(document).ready(function() {
            // Scrollbar
            $(".customScroll").mCustomScrollbar({
                theme: "dark"
            });

            // 로그인 유저 정보
            getMyInfo();
            
            // roomId 가 존재하면 채팅방 리스트 불러온 후 선택
            // var roomId = myFunc.getUrlVars()['roomId'];
            // if(roomId) {
            //     // 채팅방 리스트
            //     getRoomList(roomId);
            // } else {
            //     getRoomList();
            // }
            
                
            $userListModal.modal({
                onApprove : function() {
                    inviteUsers();
                }
            });

            $("#btnAddUser").on("click", function() {
                openUserListModal();
            });
        });
    </script>
</body>
</html>