<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/libs/semantic/semantic.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        body {
          background-color: #DADADA;
        }
        body > .grid {
          height: 100%;
        }
        .image {
          margin-top: -100px;
        }
        .column {
          max-width: 450px;
        }
    </style>
    <title>Sign Up</title>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <!-- <img src="/libs/Semantic-UI/assets/images/logo.png" class="image"> -->
                <div class="content">
                    Welcome
                </div>
            </h2>
            <form id="form" class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="conPassword" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div id="btnSignup" class="ui fluid large primary submit button">Sign Up</div>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
    <script src="/libs/jquery/jquery-3.3.1.min.js"></script>
    <script src="/libs/semantic/semantic.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#btnSignup").on("click", function() {
                //$("#form").submit();
                var formData = $("#form").serialize();
                $.ajax({
                    url: "/api/signup",
                    method: "POST",
                    data: formData,
                    success: function(data) {
                        //console.log(data);
                        if(data.result == "success") {
                            alert("회원 가입 되셨습니다.");
                            location.href = "/login";
                        } else {
                            if(data.msg) alert(data.msg);
                            return;
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            });
        });
    </script>
</body>
</html>